{% extends 'base.html.twig' %}

{% block title %}Panier
{% endblock %}
{% block body %}
	{% include "components/_fileAriane.html.twig" %}
	<div class=" h-auto min-h-[38rem]  mt-24 " data-no-swup>

		<div class="  h-44 w-5/6 backdrop-blur-sm bg-black/30 mx-auto  top-24 p-1 z-0 rounded-3xl ">
			<h1 class="text-2xl font-bold text-center my-2">Mon Panier</h1>
		</div>

		{% if produitPanier %}
			<div class=" relative  -mt-16 overflow-x-auto shadow-xl sm:rounded-lg  shadow-black  container">
				<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 mx-auto  ">
					<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
						<tr>
							<th scope="col" class="px-6 py-3">
								<span class="sr-only">Image</span>
							</th>
							<th scope="col" class="px-6 py-3">
								Product
							</th>
							<th scope="col" class="px-6 py-3">
								Qty
							</th>
							<th scope="col" class="px-6 py-3">
								Price
							</th>
							<th scope="col" class="px-6 py-3">
								Action
							</th>
						</tr>
					</thead>
					<tbody>
						{% for productList in produitPanier %}

							<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-pink-100 dark:hover:bg-gray-600" data-no-swup>

								<td class="w-32 p-2 ">
									<img src="{{ asset('assets/uploads/products/') ~ productList.imageRecup }}" alt="Apple Watch" class="rounded-2xl" data-no-swup>

								</td>
								<td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
									{{productList.produit.Name}}
								</td>
								<td class="px-6 py-4">
									<div class="flex items-center space-x-3">
										<a href="{{ path("cart_add", {id: productList.produit.id}) }}" class=" inline-flex items-center p-1 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200" type="button" data-no-swup>
											<span class="sr-only">Quantity button</span>
											<svg class="w-3 h-3" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path>
											</svg>
										</a>
										<div>

											<span class="bg-gray-50 w-14 border border-gray-300 text-gray-900 text-sm rounded-lg block px-2.5 py-1">{{productList.quantite}}</span>
										</div>
										<a href="{{ path("cart_remove", {id: productList.produit.id}) }}" class="inline-flex items-center p-1 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200" type="button" data-no-swup>
											<span class="sr-only">Quantity button</span>
											<svg class="w-3 h-3" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
											</svg>
										</a>
									</div>
								</td>

								<td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
									{{productList.produit.prix * productList.quantite}}
									€
								</td>
								<td class="px-6 py-4">
									<a href="{{ path("cart_delete", {id:productList.produit.id})}}" class="font-medium text-red-600 dark:text-red-500 hover:underline">
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
											<path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
										</svg>
									</a>
								</td>

							{% endfor %}
						</tbody>
					</tbody>
				</tr>
				<tfoot class="bg-gray-50 dark:bg-gray-800">
					<tr>
						<td colspan="3" class="px-6 py-4 text-sm font-semibold text-gray-900 dark:text-gray-200">
							Total
						</td>
						<td class="px-6 py-4  bg-slate-200 font-semibold text-gray-900 dark:text-gray-200">
							{{totalPanier}}
							<span>€</span>
						</td>
						<td class=" flex "></td>
					</tr>
				</tfoot>
			</table>
		</div>
		{% if produitPanier %}
			<a href="{{ path("checkout_create")}}" class=" my-2 flex ">
				<div class="group buttonValid my-2 mx-auto ">
					<span class="spanValid ">Valider</span>
				</div>
			</a>
		{% endif %}
	</div>

{% else %}
	<div class=" relative -mt-16 overflow-x-auto shadow-xl sm:rounded-lg  shadow-black  container flex justify-center items-center h-96 bg-gray-100">
		<h1 class=" text-2xl ">Le Panier est vide
		</h1>
	</div>

{% endif %}{% endblock %}
