{% extends 'admin/layout.html.twig' %}
{% block title %}Admin-Mise jours user
{% endblock %}
{% block content %}
	<div class="container mt-12 w-full backdrop-blur-3xl bg-white/20 shadow-2xl  rounded-3xl p-4 z-0  shadow-black">
		{{ form_start(userEditForm, {'attr': {'
      novalidate': 'novalidate',
  }})}}
		<div class="grid grid-cols-2 gap-2">
			<div class=" col-span-1 shadow-2xl shadow-black rounded-2xl ">
				{{ form_row(userEditForm.firstname) }}
				{{ form_row(userEditForm.lastname)}}
				{{ form_row(userEditForm.email)}}
			</div>
			<div class=" col-span-1 shadow-2xl shadow-black rounded-2xl">
				{{ form_row(userEditForm.password)}}
				{{ form_row(userEditForm.avatar)}}
				{{ form_row(userEditForm.roles) }}
			</div>
		</div>

		<div class="flex  flex-row justify-around  items-center p-2  w-[44rem] h-auto my-2 mx-auto">
			<button type="submit" class="  my-2   ">
				<div class="group buttonValid  ">
					<span class="hidden  md:block spanValid ">
						Editer
					</span>
				</div>
				<div class="block  shadow-lg shadow-black rounded-2xl w-auto text-center text-green-400 backdrop-blur-3xl hover:shadow-green-600 md:hidden">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-16 h-16 mx-auto ">
						<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
					</svg>
				</div>
			</button>
			<a href="{{ path('admin_user_list') }}" type="submit" class="my-2">
				<div class="group buttonRetour">
					<span class="hidden md:block spanRetour my-2">
						Retour
					</span>
				</div>
				<div class="block shadow-lg shadow-black rounded-2xl w-auto text-center text-blue-900 backdrop-blur-3xl hover:shadow-blue-600 md:hidden">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-16 h-16">
						<path stroke-linecap="round" stroke-linejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3"/>
					</svg>

				</div>
			</a>
		</div>


		<div>
			{{ form_end(userEditForm)}}
		</div>

	{% endblock %}
