{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Accueil {% endblock %}

{% block body %}

  <div class=" container flex flex-col flex-wrap items-center h-auto ">
    <div class=" flex flex-col justify-center mt-24 w-auto  items-center p-3">
      <h1 class=" text-slate-900 text-4xl font-gluten text-center "> Bienvenue sur 
        <span class=" font-bold ">
        B
          <strong>
            <span class="text-pink-600 ">'</span>
          </strong>
        bikes
          <strong>
            <span class="text-pink-600">.</span>
          </strong>
        e
        </span>   
      </h1>
      <p class=" text-left w-96">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos expedita quaerat autem dolorem
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos expedita quaerat autem dolorem
      </p>
    </div>

    {# liste des categories#}
    <section class=" container  flex flex-col items-center justify-between w-full mt-16 ">
      <h2 class=" text-slate-900 text-4xl font-gluten m-4 "> Categories</h2>
       
      <div class="flex  flex-wrap container  justify-around w-full ">
       {% for category in categories %} 
          {% if category.parent == null %}
           <a href="{{path('categorie_catego', {id: category.id} ) }}" class=" w-36 h-36  rounded-full  shadow-xl shadow-black ml-2 p-2  backdrop-blur-3xl bg-white/20 flex flex-col items-center justify-center hover:bg-amber-600 focus:ring-2 focus:outline-none focus:ring-pink-900">
              <h5 class="mb-2 text-xl text-white font-bold ">{{ category.name}}</h5>       
          </a>         
          {% endif %}
      {% endfor %} 
      </div> 
 
    </section>
    {# liste des marques  #}
    <section class=" flex flex-col items-center justify-between w-full rounded-2xl mt-16">
      <h2 class=" text-slate-900 text-4xl font-gluten m-4 "> Nos Meilleures Marques</h2>
      <div class=" flex flex-col md:flex-row md:flex-wrap justify-around   w-full p-2 items-center ">       
            {% for marque in marques %}                   
              <a href="{{path('marques_listproduit', {id: marque.id} ) }}" class="m-2" >
               <img src="{{ asset('assets/uploads/logo/') ~ marque.logo  }}" alt="" class="w-32 h-10 ">
              </a>
            {% endfor %}      
      </div>     
    </section>
 {# lite des nouvautées   #}
        <section class=" flex flex-col items-center justify-between w-full rounded-2xl mt-16">
          <h2 class=" text-slate-900 text-4xl font-gluten m-4 "> Les Nouvautées</h2>
          <div class="  grid grid-cols-2 md:flex md:flex-row  justify-center font-gluten   w-full p-2 items-center ">
          {% for news in  product %}
            {% if news.nouveaute == true  %}

            <a href="{{path('product_details', {id: news.id} ) }}" class="m-2" >
                   <div class=" bg-white w-32 h-40 rounded-2xl ">
                     <div class=" bg-black text-white font-semibold rounded-t-2xl text-center p-y-[0.5rem]">
                      <span>News</span></div>
                     <img src="{{ asset("images/produits/vtt-cube-stereo-120.jpg")}}" alt="" class="rounded-2xl px-2 pt-1">
                      <div class="px-2 pt-1">
                        <h4 class="text-sm">{{news.name}}</h4>
                      <p class="text-sm">prix: <span class="text-red-600">  {{ news.prix}}</span> </p>
                      </div>
                   </div>
             </a>     
            {% endif %}    
           
          {% endfor %}
          </div>     
             
            </section>
         </div>
         
         
    
  
  

{% endblock %}

