{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Accueil {% endblock %}

{% block body %}

  <div class=" container flex flex-col flex-wrap items-center h-auto ">
    <div class=" flex flex-col justify-center mt-24 w-auto  items-center p-3">
      <h1 class=" text-slate-900 text-4xl font-gluten text-center "> Bienvenue sur 
        <span class=" font-bold ">
        B
          <strong>
            <span class="text-pink-600 ">'</span>
          </strong>
        bikes
          <strong>
            <span class="text-pink-600">.</span>
          </strong>
        e
        </span>   
      </h1>
      <p class=" text-left w-96">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos expedita quaerat autem dolorem
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos expedita quaerat autem dolorem
      </p>
    </div>

    {# liste des categories#}
    <section class=" container  flex flex-col items-center justify-between w-full mt-16 ">
      <h2 class=" text-slate-900 text-4xl font-gluten m-4 "> Categories</h2>
      <div class=" m-1 grid grid-cols-4 gap-2 w-full"> 
        {% for category in categories %} 
          {% if category.parent == null %}
            <h4 class='text-white  ml-2 col-span-4 text-lg rouded-xlw-auto p-2'>{{ category.name}} </h4>  
          {% else %}
            <div class=" w-auto bg-white border border-gray-200 rounded-lg shadow-md ml-2 ">
              <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ category.name}}</h5>
              </a>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">superbe cotegories</p>
              <a href="{{path('categorie_catego', {id: category.id} ) }}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Voir tous les produits
                <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              </a>
            </div>          
          {% endif %}
        {% endfor %}  
      </div> 
    </section>








    {# liste des marques  #}
    <section class=" flex flex-col items-center justify-between w-full rounded-2xl mt-16">
      <h2 class=" text-slate-900 text-4xl font-gluten m-4 "> Nos Meilleures Marques</h2>
      <div class=" flex flex-col md:flex-row md:flex-wrap justify-around   w-full p-2 items-center ">       
            {% for marque in marques %}                   
              <a href="{{path('marques_listproduit', {id: marque.id} ) }}" class="m-2" >
              {{marque.name}} 
               <img src="{{ asset('images/logo/marques/' ~ marque.logo) }}" alt="" class="w-32 h-10 ">
              </a>
            {% endfor %}      
      </div>     
    </section>
 {# lite des nouvautées   #}
        <section class=" flex flex-col items-center justify-between w-full rounded-2xl mt-16">
          <h2 class=" text-slate-900 text-4xl font-gluten m-4 "> Les Nouvautées</h2>
          <div class="  grid grid-cols-2 md:flex md:flex-row  justify-center font-gluten   w-full p-2 items-center ">
          {% for news in  product %}
            {% if news.nouveaute == true  %}

            <a href="{{path('product_details', {id: news.id} ) }}" class="m-2" >
                   <div class=" bg-white w-32 h-40 rounded-2xl ">
                     <div class=" bg-black text-white font-semibold rounded-t-2xl text-center p-y-[0.5rem]">
                      <span>News</span></div>
                     <img src="{{ asset("images/produits/vtt-cube-stereo-120.jpg")}}" alt="" class="rounded-2xl px-2 pt-1">
                      <div class="px-2 pt-1">
                        <h4 class="text-sm">{{news.name}}</h4>
                      <p class="text-sm">prix: <span class="text-red-600">  {{ news.prix}}</span> </p>
                      </div>
                   </div>
             </a>     
            {% endif %}    
           
          {% endfor %}
          </div>     
             
            </section>
         </div>
         
         
    
  
  

{% endblock %}

