{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	Accueil
{% endblock %}

{% block body %}

	<section class="text-gray-200 h-[12rem] sm:h-[30rem]  shadow-xl bg-hero-home bg-center bg-cover mt-20 flex justify-center items-center">

		<div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 text-black h-auto flex flex-col">
			<h1 class="max-w-2xl mb-4 font-extrabold tracking-tight leading-none text-2xl md:text-3xl xl:text-4xl  font-gluten text-center">
				Bienvenue sur
				<span class=" font-bold ">
					B
					<strong>
						<span class="text-pink-600 ">'</span>
					</strong>
					bikes
					<strong>
						<span class="text-pink-600">.</span>
					</strong>
					e
				</span>
			</h1>

			<p class="  text-center ">
				Bonne visite sur notre application en
				<span class="text-pink-800 uppercase animate-ping-slow text-lg">mode Démo</span>.

			</p>
		</div>
	</section>

	<div
		class=" container flex flex-col flex-wrap items-center h-auto ">
		{# liste des categories#}
		<section class=" container space-y-4  flex flex-col items-center justify-between w-full mt-4 ">
			<h2 class=" text-slate-950 text-2xl sm:text-4xl font-gluten m-2 ">
				Categories</h2>
			<div class="  grid gap-4  grid-cols-2   md:grid-cols-3 lg:grid-cols-6  w-full  ">
				{% for category in categories %}
					{% if category.parent == null %}
						<a href="{{path('categorie_catego', {id: category.id} ) }}" class="relative w-[12rem]    md:w-auto h-auto rounded-3xl hover:scale-105 mx-auto  hover:sepia  hover:transition hover:duration-150 hover:ease-in-out   flex flex-col items-center justify-end    ">
							<img src="{{ asset('assets/uploads/imageCatego/') ~ category.imageCatego }}" class='rounded-3xl  ' alt="">
							<h5 class=" absolute text-xl text-black  font-bold  flex justify-center items-center  rounded-b-3xl backdrop-blur-sm  bg-black/10 h-1/5  w-full ">
								<span>{{ category.name}}</span>
							</h5>
						</a>
					{% endif %}
				{% endfor %}
			</div>
		</section>
		{# liste des marques  #}
		<section class=" container flex flex-col space-y-4  items-center justify-between w-full my-16 ">
			<h2 class=" text-slate-950 text-2xl sm:text-4xl font-gluten mx-auto  ">
				Nos Meilleures Marques</h2>
			<div class=" flex  flex-wrap container  justify-around w-full ">
				{% for marque in marques %}
					<a href="{{path('marques_listproduit', {id: marque.id} ) }}" class="m-4">
						<img src="{{ asset('assets/uploads/logo/') ~ marque.logo }}" alt="" class="w-32 h-10 ">

					</a>
				{% endfor %}
			</div>
		</section>
		{# lite des nouveautés   #}
		<section class=" flex flex-col items-center justify-between w-full rounded-2xl mb-4 ">
			<h2 class=" text-slate-950 text-2xl sm:text-4xl font-gluten m-4 ">
				Les Nouveautés</h2>
			<div class=" flex flex-wrap justify-center items-center">
				{% for news in  product %}
					{% if news.nouveaute == true  %}
						<a href="{{path('product_details', {id: news.id} ) }}" class="m-2 flex flex-col items-center justify-center font-medium">
							<div class="bg-white w-[10rem] h-[14rem]  rounded-2xl ">
								<div class=" bg-black text-white font-semibold rounded-t-2xl text-center text-sm  p-y-[0.5rem]">
									<span>News</span>
								</div>
								<img src="{{ asset('assets/uploads/products/' ~ news.images[0].name ) }}" alt="" class=" w-[9rem] h-[6rem] object-cover rounded-2xl px-2 pt-1">
								<div class="px-2 pt-1 flex flex-col ">
									<h6 class="text-sm font-medium  my-1">{{news.name |u.truncate( 15, '...') }}
									</h6>
									<p class="text-sm">prix:
										<span class="text-red-600">
											{{ news.prix}}
											€</span>
									</p>
								</div>
							</div>
						</a>
					{% endif %}
				{% endfor %}
			</div>
		</section>
	</div>
{% endblock %}
