{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class=" ">
		<section class="container p-4 pt-24 z-30  h-screen  ">

			{{ form_start(registrationForm, {
      'attr': {
        'novalidate': 'novalidate', 
        'class': ' mx-auto p-12  w-full h-auto rounded-3xl backdrop-blur-xl bg-black/20 shadow-xl'
        }
    }) }}
			<h1 class=" text-center text-white text-lg mb-6">Inscription</h1>
			{{ form_row(registrationForm.lastname) }}
			{{ form_row(registrationForm.firstname ) }}
			{{ form_row(registrationForm.email)}}
			{{ form_row(registrationForm.password) }}
			{{ form_row(registrationForm.agreeTerms) }}
			<button type="submit" class=" ml-6 mt-12 text-white bg-stone-900 hover:bg-pink-800 focus:ring-2 focus:outline-none focus:ring-stone-900 font-medium rounded-lg text-sm w-full sm:w-auto px-3 py-2 text-center">
				Enregistrer
			</button>
			{{ form_end(registrationForm) }}
		</section>
	</div>


{% endblock %}
