<header class="bg-stone-900 top-0 w-full fixed h-20 z-50">
	<nav class="max-w-8xl mx-auto h-20 bg-stone-900 text-white font-gluten  flex  justify-between items-center" id="#nav">
		<a href="#Accueil" class="mx-4" aria-label="Page d'Accueil du site b'bikes.e">
			<span class="text-xl md:text-2xl">
				B
				<strong>
					<span class="text-pink-600">'</span>
				</strong>
				bikes
				<strong>
					<span class="text-pink-600 ">.</span>
				</strong>
				e
			</span>
		</a>
		<div class="hidden md:block">
			{% include "components/_search.html.twig" %}

		</div>

		<div class="flex justify-center items-center md:flex-row-reverse gap-2 mx-4 span-col-2">
			<a href="{{path('cart_home') }}" class="hover:text-stone-500 -order-2 relative inline-flex items-center p-1 text-sm font-medium text-center  border-[0.1rem] border-stone-600 hover:border-pink-600 rounded-lg focus:ring-2 focus:ring-stone-500 focus:outline-none   ">
				<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="w-6 h-6">
					<path fill-rule="evenodd" d="M7.5 6v.75H5.513c-.96 0-1.764.724-1.865 1.679l-1.263 12A1.875 1.875 0 004.25 22.5h15.5a1.875 1.875 0 001.865-2.071l-1.263-12a1.875 1.875 0 00-1.865-1.679H16.5V6a4.5 4.5 0 10-9 0zM12 3a3 3 0 00-3 3v.75h6V6a3 3 0 00-3-3zm-3 8.25a3 3 0 106 0v-.75a.75.75 0 011.5 0v.75a4.5 4.5 0 11-9 0v-.75a.75.75 0 011.5 0v.75z" clip-rule="evenodd"/>
				</svg>
				{% if  app.session.get('panier')|length > 0 %}
					<div class="absolute p-2 inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-stone-900  border-[0.13rem] border-pink-700 rounded-full -top-3 -right-3 ">
						{{ app.session.get('panier')|length  }}
					</div>
				{% endif %}
			</a>
			{% if app.user =='' %}
				<a href="{{path('app_login') }}" class="hover:text-stone-500 -order-3 md:order-none flex flex-col items-center mt-5">
					<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="w-6 h-6 ">
						<path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd"/>
					</svg>
					<h6 class="text-white ">
						Connexion
					</h6>
				</a>
			{% else %}
				<img
				id="avatarButton" type="button" data-dropdown-toggle="userDropdown" data-dropdown-placement="bottom-start" class="w-8 h-8 mr-2 rounded-full cursor-pointer" src="{{ asset('assets/uploads/avatars/' ~ app.user.avatar ) }}" {# {{ asset('images/logo/marques/' ~ marque.logo) }} #} alt="User dropdown">
				<!-- Dropdown menu -->
				<div id="userDropdown" class="z-10 hidden text-white backdrop-blur-lg bg-white/10 divide-y divide-pink-900 rounded-2xl shadow-xl w-44">
					<div class="px-4 py-3 text-sm  ">
						<div>{{ app.user.firstname}}</div>
						<div class="font-medium truncate">{{ app.user.email}}</div>
					</div>
					<ul class="py-1 text-sm " aria-labelledby="avatarButton">
						{% if is_granted('ROLE_TESTEUR') %}
							<li>
								<a href="{{ path('admin_home') }}" class="block px-4 py-2 hover:bg-stone-400">Dashboard</a>
							</li>
						{% endif %}
						<li>
							<a href="{{ path('compte_user_update', {id: app.user.id}) }}" class="block px-4 py-2 hover:bg-stone-400">Profil</a>
						</li>
					</ul>
					<div class="rounded-b-xl">
						<a href="{{ path('app_logout',{id: app.user}) }}" class=" block px-4 py-2   text-pink-800 hover:bg-stone-300  rounded-b-xl ">
							<p class="hover:transition-transform hover:scale-110">Sign out
							</p>
						</a>
					</div>
				</div>
			{% endif %}
			<button aria-label="toggle button" aria-expanded="false" id="menu-btn" class="cursor-pointer w-7 md:hidden">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" id="burgerSvg">
					<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
				</svg>
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 hidden" id="croixSvg">
					<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
				</svg>
			</button>
			<ul id="toggled-menu" class="w-full duration-300 mx-auto absolute backdrop-blur-xl bg-white/10 rounded-b-3xl top-full left-0 -translate-y-full -z-10 text-white flex flex-col items-center md:static md:z-10 md:w-min md:transform-none md:border-none md:flex-row md:text-white md:divide-none md:bg-stone-900">
				<li class="text-center py-3 md:py-0 md:mr-6 md:border-none">
					<a href="{{path('home')}}" class=" {{ currentPage =='home' ? 'text-sm upercase text-pink-500 font-medium md:text-xl' : 'text-sm upercase font-medium hover:text-stone-500 md:text-xl'  }}">
						Accueil
					</a>
				</li>
				<li class="text-center py-3 md:py-0 md:mr-6">
					<a href="{{path('product_list')}}" class="{{ currentPage =='product_list' ? 'text-sm upercase text-pink-500 font-medium md:text-xl' : 'text-sm upercase font-medium hover:text-stone-500 md:text-xl' }}">
						VTT
					</a>
				</li>
				<li class="text-center py-3 md:py-0 md:mr-6">
					<a href="{{path('product_list')}}" class="{{ currentPage =='product_list' ? 'text-sm upercase text-pink-500 font-medium md:text-xl' : 'text-sm upercase font-medium hover:text-stone-500 md:text-xl' }}">
						VAE
					</a>
				</li>
				<li class="text-center py-3 md:py-0 md:mr-6 sm:hidden">
					{% include "components/_search.html.twig" %}
				</li>

			</ul>
		</div>
	</nav>
</header>
