{% extends 'base.html.twig' %}

{% block title %}Compte Client
{% endblock %}

{% block body %}
	<div class="mx-auto max-w-8xl flex justify-center mt-20 mb-4 h-full">
		<div class="container my-16 w-full h-auto   rounded-3xl p-4 z-10 backdrop-blur-3xl bg-black/30  ">
			<img class="rounded-2xl w-36 h-36 mx-auto my-6 bg-black shadow-2xl shadow-black" src="{{ asset('assets/uploads/avatars/' ~ app.user.avatar ) }}" alt="large avatar">
			{% include "partials/_flashmessage.html.twig" %}
			{{ form_start(userCompteForm, {'attr': {'
      novalidate': 'novalidate',
  }})}}
			<div class="grid grid-cols-4 gap-y-6 gap-x-4 px-4 ">
				<div class=" col-span-2 shadow-lg shadow-black rounded-2xl backdrop-blur-3xl ">
					{{ form_row(userCompteForm.firstname) }}
					{{ form_row(userCompteForm.lastname)}}
					{{ form_row(userCompteForm.email)}}
				</div>
				<div class=" col-span-2  shadow-lg shadow-black rounded-2xl backdrop-blur-3xl ">
					{{ form_row(userCompteForm.password)}}
					{{ form_row(userCompteForm.avatar)}}
				</div>
				{% if user.adresses is empty %}
					<div class="col-start-1 col-end-5  m-auto p-2 shadow-lg shadow-black rounded-2xl  backdrop-blur-3xl hover:shadow-pink-700">
						<a href="{{ path('adresse_add', {id: app.user.id}) }}" class=" text-cyan-500 text-center  shadow-lgl shadow-black rounded-2xl  backdrop-blur-3xl ">
							voulez-vous ajouter une adresse
						</a>
					</div>
				{% else %}
					{% for adresseType in user.adresses %}
						<div class=" col-span-2 shadow-lg shadow-black rounded-2xl mt-2 backdrop-blur-2xl ">
							<h6 class=" text-cyan-500 text-center m-4  ">
								{{adresseType.nomAdresse }}
							</h6>
							<dl class="max-w-md text-white divide-y divide-pink-900 mx-auto ">
								<div class="flex flex-col pb-3">
									<dt class="mb-1 text-pink-900 md:text-sm ">Rue</dt>
									<dd class="text-sm ">{{adresseType.numeroRue}}
										{{adresseType.Rue}}
									</dd>
								</div>
								<div class="flex flex-col pb-3">
									<dt class="mb-1 text-pink-900 md:text-sm ">Code Postal</dt>
									<dd class="text-sm ">{{adresseType.codePostal}}
									</dd>
								</div>
								<div class="flex flex-col pb-3">
									<dt class="mb-1 text-pink-900 md:text-sm ">Ville</dt>
									<dd class="text-sm ">
										{{adresseType.ville}}</dd>
									<a href="{{ path('adresse_edit', {id: adresseType.id}) }}" class=" buttonformValid">
										Modifier
									</a>
									<div class="flex items-center justify-around p-4 ">
										<a href="{{ path('adresse_delete', {id: adresseType.id}) }}" class="  text-red-600 ">
											<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
												<path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
											</svg>
										</a>
										{% if adresseType.addresseFav  %}
											<div class="flex items-center">
												<p class=" mx-auto ">Adresse Favorite
												</p>
												<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-6 h-6 ml-3 mb-2 text-green-500">
													<path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"/>
												</svg>
											</div>
										{% endif %}


									</div>

								</div>
							</dl>
						</div>
					{% endfor %}
					<div class=" col-start-1 col-end-5 m-auto p-2 shadow-lg shadow-black rounded-2xl  backdrop-blur-3xl hover:shadow-pink-700 ">
						<a href="{{ path('adresse_add', {id: app.user.id}) }}" class="  text-cyan-500 text-center  shadow-lgl shadow-black rounded-2xl backdrop-blur-3xl">
							voulez-vous ajouter une nouvelle adresse à votre compte
						</a>
					</div>
				</div>
			{% endif %}
			<div class="flex flex-row justify-around  items-center p-2 col-span-4 ">
				<button type="submit" class="buttonformValid ">
					Éditer
				</button>
				<a href="{{ path('home') }}" class=" buttonformBack">
					back
				</a>
			</div>
			<div>
				{{ form_end(userCompteForm)}}
			</div>

		</div>
	{% endblock %}
