{% extends 'base.html.twig' %}

    

{% block title %}{{ parent()}}
 {% for prod in productId.marques %}
  {{prod.name }}
   {% endfor %}
  
  {% endblock %}


{% block body %}
{% include "components/_fileAriane.html.twig" %}

  <div class = "container w-full mt-28 top-20 h-auto font-gluten my-2">
  
  
    <section class=" ">
        <div class="md:flex p-2 md:justify-around">
            {# section image #} 
            <div class"aspect-square m-4 md:w-2/6 ">
                <img src="{{ asset('images/produits/vtt-cube-stereo-120.jpg') }}"class="rounded-2xl w-[46rem] h-[26rem]  object-center "alt="images VTT cube"/>
            </div>
            {# section info velo #}
            <div  class="flex flex-col md:justify-between md:w-1/6 md:p-4 rounded-3xl md:shadow-xl md:shadow-black ">
                <div>
                      {% for prod in productId.marques %}
                    <h1 class=" font-semiblod mt-2 text-3xl  "> {{prod.name }}</h1>
                      {% endfor %}
                    <h2 class=" text-lg mt-2 text-slate-600  ">{{productId.Name}}</h2>
                    <p class=" text-sm mt-2  text-slate-600"  > id:{{productId.reference}} </p>
                    {% if productId.Promotion %}
                
                        <p class=" text-lg mt-4">Prix:
                            <span class="line-through font-medium  text-gray-400 mr-3">
                                {{productId.prix}}€
                            </span>
                            <span class=" text-2xl text-red-600 font-medium ">
                                {{ productId.PrixPromotion}}€
                            </span>
                        </p>
                     {% else %}                  
                        <p class=" text-lg mt-4">Prix: <span class="text-2xl text-blue-600 font-medium  "> {{productId.Prix}} € </span> </p>
                    {% endif %}
                </div>
                <a href="#" class=" bg-blue-600  rounded-b-2xl text-white text-center p-2 md:rounded-2xl  "> Panier</a>
            </div>  
        </div> 
    </section >
     <section class=" w-full bg-slate-200 mt-2 p-2 container rounded-3xl">
        <div class=" p-2 ">
            <h3 class="text-center text-lg font-medium">Description </h3>
            <h4 class="text-center text-slate-600 text-sm font-medium">{{ productId.name}}</h4> 
            <div  class="flex flex-col justify-center items-center m-6 md:flex-row  " >
                <div class="flex flex-col ">
                    <p class="text-align-left whitespace-pre-wrap p-2 m-2 ">{{productId.Description|u.truncate(130)}}</p>
                    <p class="text-align-left whitespace-pre-wrap p-2 m-2">{{productId.Description| u.truncate(130)}}</p>
                </div>
                <div class="flex flex-col ">
                    <p class="text-align-left whitespace-pre-wrap  p-2 m-2 ">{{productId.Description|u.truncate(130)}}</p>
                    <p class="text-align-left whitespace-pre-wrap  p-2 m-2">{{productId.Description| u.truncate(130)}}</p>
                </div>
            </div>
          
        </div>
     </section>
     <section class=" w-full mt-2 p-2  mb-2 bg-slate-200 rounded-3xl">
        <div class=" container p-2 ">
            <h3 class="text-center text-lg font-medium">Equipements </h3>
            <div class=" flex flex-col md:flex-row space-x-2   ">
                <div class=" md:w-1/2 divide-y-2 divide-slate-600 p-4 flex flex-col h-auto ">
                    <div class="mb-2">
                        <h6 class="text-slate-800">Utilisation</h6>
                        <p class="text-slate-600 font-light">{{productId.Utilisation}} </p>
                    </div>
                    <div class="">
                        <h6 class="text-slate-800 mt-2">Genre</h6>
                         {% for genre in productId.genres %}
                            <p class="text-slate-600 font-light">{{genre.name}} </p>
                         {% endfor %}
                        
                    </div>
            
                    <div class="">
                        <h6 class="text-slate-800 mt-2">Cadre</h6>
                        {% if productId.equipements %}
                        <p class="text-slate-600 font-light">{{productId.equipements.cadre}} </p>
                           {% else %}
                          <p class="text-slate-600 font-light">- - - - -  </p>
                        {% endif %}
                    </div>
                    <div class="">
                        <h6 class="text-slate-800 mt-2">Fourche</h6>
                           {% if productId.equipements %}
                        <p class="text-slate-600 font-light">{{productId.equipements.fourche}} </p>
                           {% else %}
                          <p class="text-slate-600 font-light">- - - - -  </p>
                        {% endif %}
                    </div>
                    <div class="">
                        <h6 class="text-slate-800 mt-2">Jeu De Direction </h6>
                           {% if productId.equipements %}
                        <p class="text-slate-600 font-light">{{productId.equipements.jeuDeDirection}} </p>
                        {% else %}
                          <p class="text-slate-600 font-light">- - - - -  </p>
                        {% endif %}
                          
                    </div>
                    <div class="">
                        <h6 class="text-slate-800 mt-2">Fourche</h6>
                           {% if productId.equipements %}
                        <p class="text-slate-600 font-light">{{productId.equipements.fourche}} </p>
                           {% else %}
                          <p class="text-slate-600 font-light">- - - - -  </p>
                        {% endif %}
                    </div>  
                    <div class="">
                        <h6 class="text-slate-800 mt-2">Dérailleur arrière</h6>
                           {% if productId.equipements %}
                        <p class="text-slate-600 font-light">{{productId.equipements.derailleurAR}} </p>
                           {% else %}
                          <p class="text-slate-600 font-light">- - - - -  </p>
                        {% endif %}
                    </div> 
                   
                      <div class="">
                        <h6 class="text-slate-800 mt-2">Dérailleur avant</h6>
                           {% if productId.equipements %}
                        <p class="text-slate-600 font-light">{{productId.equipements.derailleurAV}} </p>
                           {% else %}
                          <p class="text-slate-600 font-light">- - - - -  </p>
                        {% endif %}
                    </div> 
                  
                    <div class="">
                        <h6 class="text-slate-800 mt-2">Commande de vitesse</h6>
                           {% if productId.equipements %}
                        <p class="text-slate-600 font-light">{{productId.equipements.commandesDeVitesse }} </p>
                           {% else %}
                          <p class="text-slate-600 font-light">- - - - -  </p>
                        {% endif %}
                    </div>  
                    <div class="">
                        <h6 class="text-slate-800 mt-2">Pédalier</h6>
                           {% if productId.equipements %}
                        <p class="text-slate-600 font-light">{{productId.equipements.pedalier}} </p>
                           {% else %}
                          <p class="text-slate-600 font-light">- - - - -  </p>
                        {% endif %}
                    </div>  
                    <div class="">
                        <h6 class="text-slate-800 mt-2">Chaîne</h6>
                           {% if productId.equipements %}
                        <p class="text-slate-600 font-light">Modèl: {{productId.equipements.guideChaine}} </p>
                           {% else %}
                          <p class="text-slate-600 font-light">- - - - -  </p>
                        {% endif %}
                    </div>                      
                </div>
                     
                <div class=" md:w-1/2 divide-y-2 divide-slate-600 p-4">
                       <div class="mb-2">
                        <h6 class="text-slate-800">Moteur</h6>
                        {% if productId.motorisation %}
                        <p class="text-slate-600"> Marque: {{productId.motorisation.name}} </p>
                        <p class="text-slate-600"> Model: {{productId.motorisation.marqueMoteur}} </p>
                        <p class="text-slate-600"> Performance: {{productId.motorisation.performance}} Watt </p>
                        {% else %}
                          <p class="text-slate-600 font-light">- - - - -  </p>
                        {% endif %}
                     </div>                                    
        
                       <div class="">
                        <h6 class="text-slate-800 mt-2">Batterie</h6>
                        {% if productId.motorisation %}
                        <p class="text-slate-600">Type: {{productId.motorisation.batterie}}</p>
                        <p class="text-slate-600">Puissance: {{productId.motorisation.puissanceBatterie}}  Wh </p>
                        <p class="text-slate-600">Montage:  {{productId.motorisation.console}}  </p>
                            {% else %}
                          <p class="text-slate-600 font-light">- - - - -  </p>
                             {% endif %}
                     </div>
                  
                       <div class="">
                        <h6 class="text-slate-800 mt-2">Utilisation</h6>
                        <p class="text-slate-600">enduro </p>
                     </div>
                       <div class="">
                        <h6 class="text-slate-800 mt-2">Utilisation</h6>
                        <p class="text-slate-600">enduro </p>
                     </div>
                </div>

            </div>
     
            
        </div>
     </section>  




         {% for  product in productId.roues %}
            <h4 class"h-auto w-auto ">type de roues : {{ product.Jantes}}</h4>
         {% endfor %}

            
        </div>
     </section>  
   </div>
     



{% endblock %}
