{% extends 'base.html.twig' %}

{% block title %}Commande
{% endblock %}

{% block body %}
	<div class=" mt-20 h-auto p-4">
		<div class=" container w-[80rem] h-auto  rounded-3xl text-white  ">
			<h1 class="text-4xl text-center p-4">Validation de ta commande</h1>
			{{ form_start(formCheckout, 
			{action:path('checkout_prepare')},
			{'attr': {'novalidate': 'novalidate'}}
			)}}
			<section class=" grid grid-cols-6 gap-2 h-auto m-2">
				<div class="col-span-3 h-auto backdrop-blur-3xl bg-black/50 border-cyan-600  border-2  rounded-xl  p-3">
					<h6 class=" mb-2 text-center">Ton adresse de livraison</h6>
					<div class='flex w-full  justify-around  items-center p-2'>
						{% for item in formCheckout.addreses %}
							{{ form_row(item)|replace({'[-br]': '</br>'})|raw}}
						{% endfor %}
					</div>
				</div>
				<div class="col-span-3  h-auto backdrop-blur-3xl bg-black/50  border-cyan-600  border-2  rounded-xl  p-3">
					<h5 class=" text-center  w-auto mx-auto text-lg">
						Mode de livraison
					</h5>
					<div class="  h-56 w-full flex flex-row items-center justify-center ">
						<div class="flex flex-col w-5/6   p-2">
							<div class=" flex flex-row justify-between mb-2 ">
								{{ form_row(formCheckout.transporteur, { 'attr': {'class': 'flex items-center justify-center'}})|replace({'[-br]':'</br>'})|raw}}
						</div>
					</div>
				</div>
			</div>
			<div class="col-span-6  flex flex-col  h-auto items-center backdrop-blur-3xl bg-black/50  border-cyan-600  border-2  rounded-xl  p-3">
				<h5 class=" text-center  w-auto mx-auto text-lg">
					Adresse de facturation
				</h5>
				<div class="text-center p-1">
					{% for adresse in user.adresses %}
						{% if adresse.addresseFav %}
							<p class="font-normal">{{user.firstname }}
								{{user.lastname }}
							</p>
							<p class="font-normal">{{adresse.numeroRue }}
								{{adresse.Rue }}
							</p>
							<p class="font-normal">{{adresse.codePostal }}
								{{adresse.ville}}
							</p>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			<div class="col-span-6  flex flex-col  h-auto items-center backdrop-blur-3xl bg-black/10  border-cyan-600  border-2  rounded-xl  p-3">
				<h5 class=" text-center  w-auto mx-auto text-lg">
					Ton Panier
				</h5>
				<div class="relative overflow-x-auto shadow-xl sm:rounded-lg w-full">
					<table class="w-full text-sm text-left text-white backdrop-blur-3xl bg-black/10 ">
						<thead class="text-xs text-white uppercase backdrop-blur-3xl bg-black/30 ">
							<th scope="col" class="px-6 py-3">
								<span class="sr-only">Image</span>
							</th>
							<th scope="col" class="px-6 py-3">
								Produit
							</th>
							<th scope="col" class="px-6 py-3">
								Qty
							</th>
							<th scope="col" class="px-6 py-3">
								Prix
							</th>
						</thead>
						<tbody>
							{% for productList in infosSession %}
								<tr class=" border-b  ">
									<td class="w-32 p-4">
										<img src="{{ asset('assets/uploads/products/' ~ productList.imageRecup ) }}" alt="" class="w-24 h-24 object-cover rounded-xl">
									</td>
									<td class="px-6 py-4 font-semibold ">
										{{productList.produit.Name}}
									</td>

									<td class="w-32 p-4">
										{{ productList.quantite }}
									</td>
									<td class="w-32 p-4">
										{{productList.produit.prix * productList.quantite}}€
									</td>
								</tr>
							{% endfor %}
						</tbody>
						<tfoot class="backdrop-blur-3xl bg-black/30">
							<tr>
								<td colspan="3" class="px-6 py-4 text-sm font-semibold ">
									Total
								</td>
								<td class="px-6 py-4  font-semibold bg-gray-100 text-gray-700 ">
									{{totalSession}}€
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
			<div class='col-span-2 col-start-3 flex justify-center items-center'>
				<button type="submit" class="   ">
					<div class="group buttonValid   ">
						<span class="hidden md:block spanValid  ">
							Valider
						</span>
					</div>
				</button>
			</div>

		</section>
		{{ form_end(formCheckout) }}
	</div>
</div>{% endblock %}
