{% extends 'base.html.twig' %}

{% block title %}Commande
{% endblock %}

{% block body %}

    {#  template poour afficher la réussite du payement en talwindcss #}
   <section class="mt-20  p-4">

       <div class="bg-white dark:bg-gray-900 container my-16 m-auto p-4 rounded-3xl">
           <div class="py-8 lg:py-16 mx-auto max-w-screen-xl px-4">
               <h2 class="mb-8 lg:mb-16 text-3xl font-extrabold tracking-tight leading-tight text-center text-green-500 dark:text-white md:text-4xl">Commande Valider </h2>
               <p class="mb-8 lg:mb-16  font-extrabold tracking-tight leading-tight text-center text-gray-600 dark:text-white md:text-4xl"> Merci pour votre  commande </p>

               <div class=" mt-16 grid grid-cols-2 gap-8 text-gray-500 sm:gap-12 md:grid-cols-3 lg:grid-cols-6 dark:text-gray-400">
                   <div class="flex justify-center items-center">
                       <img src="{{ asset('assets/uploads/logo/4f246f29eda8e5bb48312260c67d591f.webp')  }}" alt="" class="w-32 h-10 ">
                   </div>

                   <div class="flex justify-center items-center">
                       <img src="{{ asset('assets/uploads/logo/7626ff0f5f8ff53c2ec4dba01174706a.webp')  }}" alt="" class="w-32 h-10 ">
                   </div>
                   <div class="flex justify-center items-center">
                       <img src="{{ asset('assets/uploads/logo/a3668027aab0752f3c4ba2ed10771202.webp')  }}" alt="" class="w-32 h-10 ">
                   </div>
                   <div class="flex justify-center items-center">
                       <img src="{{ asset('assets/uploads/logo/c7dc93d7bfc2b694ff53d8ec4abc3e2d.webp')  }}" alt="" class="w-32 h-10 ">
                   </div>

                   <div class="flex justify-center items-center">
                       <img src="{{ asset('assets/uploads/logo/cf3e82747cce61a78ee52c7022c6f388.webp')  }}" alt="" class="w-32 h-10 ">
                   </div>
               </div>
           </div>
       </div>

   </section>



{% endblock %}