<!-- Composent Card -->

<a href="{{path('product_details', {id: productd.id} ) }} " class="relative  bg-white mx-auto w-full shadow-xl  h-auto shadow-black rounded-r-3xl rounded-b-3xl md:w-52  md:hover:shadow-2xl md:hover:shadow-black md:hover:transition md:ease-in-out md:hover:-translate-y-2 md:hover:scale-110">
	<div class="w-24 absolute bottom-133">
		{% if productd.Promotion %}
			<p class="h-auto pl-2 text-sm text-white   w-auto bg-stone-950  rounded-e-3xl ">
				Promotion
			</p>
			<p class="h-auto mt-1 pl-2 text-sm w-12 bg-red-600 rounded-e-3xl">
				{{ productd.PoucentagePromotion}}
				%
			</p>
		{% endif %}
	</div>
	<div class=" h-auto rounded-r-3xl rounded-b-3xl p-2 flex md:flex-col items-center   mx-auto">
		<img src="{{ asset('assets/uploads/products/' ~ productd.images[0].name ) }}" class="rounded-tr-2xl w-32 h-28 md:w-48 md:h-40  object-cover  " alt="images VTT cube"/>
		<div class="  w-auto  h-auto  flex flex-col justify-start ml-4">
			{% for brandName in productd.marques %}
				<h4 class="text-sm font-semibold text-blue-900  ">{{ brandName.name }}</h4>
			{% endfor %}
			<h3 class="text-xs   font-medium">{{ productd.name | u.truncate(40,'....')}}</h3>
			<p class=" text-xs mt-1  ">Cat:
				{% for catego in productd.categories %}
					<span class="text-green-600">
						{{ catego.name}}</span>
				{% endfor %}
			</p>
			<p class="hidden sm:block mt-1 text-xs font-thin text-gray-900">
				{{productd.description | u.truncate(60)}}
			</p>
			<p class="mt-2 text-xs">
				Prix:
				{% if productd.Promotion %}
					<span class="line-through text-gray-400 mr-3">
						{{productd.prix}}€
					</span>
					<span class="text-red-600">
						{{ productd.PrixPromotion}}€
					</span>
				{% else %}
					<span class=" text-blue-900 mr-3">
						{{productd.prix}}€
					</span>
				{% endif %}
			</p>
		</div>
	</div>
</a>
