<!-- Composent Card -->


<a href="{{path('product_details', {id: productd.id} ) }} " class="bg-white shadow-xl h-auto w-52 shadow-black rounded-r-3xl rounded-b-3xl md:hover:shadow-2xl md:hover:shadow-black md:hover:transition md:ease-in-out md:hover:-translate-y-2 md:hover:scale-110">
	<div class="relative h-3/6 rounded-r-3xl rounded-b-3xl p-2">
		<div class="w-24 absolute bottom-[5.3rem] left-0 bg-slate-400">
			{% if productd.Promotion %}
				<p class="h-auto pl-2 text-sm text-white  w-auto bg-stone-900 ">
					Promotion
				</p>
				<p class="h-auto mt-2 pl-2 text-sm w-12 bg-red-600 rounded-r-2xl">
					{{ productd.PoucentagePromotion}}
					%
				</p>
			{% endif %}
		</div>
		<img src="{{ asset('assets/uploads/products/' ~ productd.images[0].name ) }}" class="rounded-tr-2xl w-48 h-40 object-cover  " alt="images VTT cube"/>
		<div class="  w-auto  h-auto">
			{% for brandName in productd.marques %}
				<h4 class="text-sm font-semibold text-blue-900 border-b border-blue-950  ">{{ brandName.name}}</h4>
			{% endfor %}
			<h3 class="text-xs   font-medium">{{ productd.name}}</h3>
			<p class=" text-xs mt-1  ">Cat:
				{% for catego in productd.categories %}
					<span class="text-green-600">
						{{ catego.name}}</span>
				{% endfor %}
			</p>
			<p class="mt-1 text-xs font-thin text-gray-900">
				{{productd.description | u.truncate(60)}}
			</p>
			<p class="mt-2 text-xs">
				Prix:
				{% if productd.Promotion %}
					<span class="line-through text-gray-400 mr-3">
						{{productd.prix}}€
					</span>
					<span class="text-red-600">
						{{ productd.PrixPromotion}}€
					</span>
				{% else %}
					<span class=" text-blue-900 mr-3">
						{{productd.prix}}€
					</span>
				{% endif %}
			</p>
		</div>
	</div>

</a>
