<!-- Composent Card -->


<a href="{{path('product_details', {id: productd.id} ) }} " class="bg-white
				          shadow-xl
				          h-auto
				          w-52
				          shadow-black
				          rounded-2xl
				          md:hover:shadow-2xl
				          md:hover:shadow-black
				          md:hover:transition
				          md:ease-in-out
				          md:hover:-translate-y-2
				          md:hover:scale-110">
	<div class="relative h-3/6 rounded-t-2x">
		<div class="w-24 absolute bottom-[6.5rem] left-0">
			{% if productd.Promotion %}
				<p class="h-auto pl-2 text-sm text-white  w-auto bg-stone-900 rounded-r-2xl">
					Promotion
				</p>
				<p class="h-auto mt-2 pl-2 text-sm w-12 bg-red-600 rounded-r-2xl">
					{{ productd.PoucentagePromotion}}
					%
				</p>
			{% endif %}
		</div>
		{# ~ productd.images[0].name )  #}
		{# {{ asset('assets/uploads/products/') ~ img.Name  }} #}
		<img src="{{ asset('assets/uploads/products/' ~ productd.images[0].name ) }}" class="rounded-t-2xl  w-56 h-32" alt="images VTT cube"/>

		<div class="mx-4 p-2 w-auto h-auto">
			{% for brandName in productd.marques %}
				<h4 class="text-lg font-semibold text-blue-900  ">{{ brandName.name}}</h4>
			{% endfor %}
			<h4 class="text-sm font-semibold">{{ productd.name}}</h4>
			<p class=" text-sm  ">Cat:
				{% for catego in productd.categories %}
					<span class="text-green-600">
						{{ catego.name}}</span>
				{% endfor %}
			</p>
			<p class="mt-1 text-xs text-gray-400">
				{{productd.description | u.truncate(60)}}
			</p>
			<p class="mt-2">
				Prix:
				{% if productd.Promotion %}
					<span class="line-through text-gray-400 mr-3">
						{{productd.prix}}€
					</span>
					<span class="text-red-600">
						{{ productd.PrixPromotion}}€
					</span>
				{% else %}
					<span class=" text-blue-900 mr-3">
						{{productd.prix}}€
					</span>
				{% endif %}
			</p>
		</div>
	</div>

</a>
