<ul class="w-2/4 hidden z-30 h-full fixed rounded-r-3xl left-0 md:rounded-3xl md:sticky backdrop-blur-3xl bg-black/20 shadow-black shadow-sm top-28 md:flex md:flex-col md:w-1/6 self-start px-4 text-sm font-medium text-white md:mt-12 md:ml-2" id="filtre">
	{{ form_start(form)}}
	<li class="rounded-2xl flex items-center justify-between my-1 mt-4 px-2 py-1 cursor-pointer hover:text-slate-950" id="dropdownCatergories">
		<h5 class="" id="colorsFiltersCategories">Catégories</h5>
		<span class="duration-200 hover:text-stone-500" id="arrowCategories">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-6 h-6 text-pink-700">
				<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"/>
			</svg>
		</span>
	</li>
	<div class=" text-sm  font-thin hidden" id="submenuFiltre">

		{{ form_row(form.categories) }}
	</div>
	<li class="rounded-2xl flex items-center justify-between my-1 px-2 py-1 cursor-pointer hover:text-stone-500" id="dropdownMarques">
		<h5 class="" id="colorsFiltersMarques">Marques</h5>
		<span class="duration-200 hover:text-stone-400" id="arrowMarques">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-6 h-6 text-pink-700">
				<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"/>
			</svg>
		</span>
	</li>
	<div class="text-left text-sm font-thin hidden" id="submenuFiltreMarque">
		{{form_row(form.marques )}}
	</div>
	<li class="rounded-2xl flex items-center justify-between my-1 px-2 py-1 cursor-pointer hover:text-stone-500" id="dropdownGenre">
		<h5 class="" id="colorsFiltersGenre">Genre</h5>
		<span class="duration-200 hover:text-stone-400" id="arrowGenre">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-6 h-6 text-pink-700">
				<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"/>
			</svg>
		</span>
	</li>
	<div class="text-left text-sm font-thin hidden" id="submenuFiltreGenre">
		{{form_row(form.genres)}}
	</div>
	<li class="rounded-2xl flex items-center justify-between my-1 px-2 py-1 cursor-pointer hover:text-stone-500" id="dropdownCouleurs">
		<h5 class="" id="colorsFiltersCouleur">Couleurs</h5>
		<span class="duration-200 hover:text-stone-400" id="arrowCouleurs">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-6 h-6 text-pink-700">
				<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"/>
			</svg>
		</span>
	</li>

	<div class="text-left text-sm font-thin hidden" id="submenuFiltreCouleurs">
		<div class="flex flex-wrap my-2">
			<div class="w-6 h-6 rounded-full bg-gradient-to-tl from-black via-gray-800 to-black cursor-pointer hover:scale-110"></div>
			<div class="w-6 h-6 rounded-full bg-gradient-to-tl from-blue-900 via-blue-500 to-blue-900 cursor-pointer ml-2 hover:scale-110"></div>
			<div class="w-6 h-6 rounded-full bg-gradient-to-tl from-yellow-900 via-yellow-500 to-yellow-900 cursor-pointer ml-2 hover:scale-110"></div>
			<div class="w-6 h-6 rounded-full bg-gradient-to-tl from-green-900 via-green-400 to-green-900 cursor-pointer ml-2 hover:scale-110"></div>
			<div class="w-6 h-6 rounded-full bg-gradient-to-tl from-red-900 via-red-500 to-red-900 cursor-pointer ml-2 hover:scale-110"></div>
		</div>
	</div>
	<button type'submit' class="mx-auto my-2 bg-pink-900 rounded-2xl flex items-center justify-between px-2 py-1 cursor-pointer hover:text-stone-500 hover:bg-violet-300">Valider</button>
	{{ form_end(form)}}
</ul>
