{% form_theme form 'tailwind_2_layout.html.twig' %}

<div{{ attributes }} >


  {{ form_start(form, {
               attr:{
                   'data-action':'live#action',
                   'data-action-name':'prevent|save'
               }
           })
    }}
    
        <div class="flex justify-center focus-within:ring-2 rounded-xl focus-within:border-0 focus-within:ring-s_Xligth focus-within:outline-none  ">


                {{form_widget(form.search, {'attr': {
                    'class': 'text-p_middle rounded-s-xl border-0 shadow-sm p-1 text-sm focus:ring-none focus:border-none focus:outline-none',
                    'placeholder': 'Effectuez une recherche '}}
                )}}
                {{form_widget(form.submit, {
                    'attr': {
                    'class': 'bg-s_middle text-white rounded-e-xl shadow-sm p-1 text-sm ',
                    },      
                    'label': 'Rechercher'
                    }

                )}}
            </div>
{{ form_end(form) }}
  <!-- component html -->

</div>
